.snowpack
build
node_modules

.eslintcache
.vscode
.idea

coverage

# For Zero-Installs -- https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions