.snowpack
build
node_modules

.eslintcache
.vscode
.idea

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

coverage

# For Zero-Installs -- https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# .yarn/*
# !.yarn/cache
# !.yarn/patches
# !.yarn/plugins
# !.yarn/releases
# !.yarn/sdks
# !.yarn/versions