/** Use root as global flex container, for centering everything */
#root {
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

ul {
    list-style: none;
}

h1 {
    font-size: inherit;
}

input {
    font-size: inherit;
    font-family: inherit;
    background-color: inherit;
    border: none;
}

button {
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    cursor: pointer;
    padding: 0;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f1eff0;
}
